[Unit]
Description=NTP Server in Python
After=network.target

[Service]
ExecStart=/srv/Python-NTP-Server/.venv/bin/python ntp_server.py 1123
WorkingDirectory=/srv/Python-NTP-Server
Restart=always
RestartSec=5
User=root
Group=root

# System Logging
#StandardOutput=null
#StandardError=journal

# Custom File Logging
StandardOutput=append:/srv/Python-NTP-Server/myntp-server.out.log
StandardError=append:/srv/Python-NTP-Server/myntp-server.err.log

# Flush logs immediately
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
